<%= form_for(@contest, :html => { :class => "form-horizontal" }) do |form| %>
  <%= form_errors_block @contest %>

  <%= form_input(form, @contest, :name) do %>
    <%= form.text_field :name %>
  <% end %>

  <%= form_input(form, @contest, :description) do %>
    <%= form.text_area :description, :size => "60x4" %>
  <% end %>

  <%= form_input form, @contest, :start do %>
    <div class="input-prepend input-append">
      <span class="add-on"><i class="icon-calendar"></i></span>
      <input id="contest_start" name="contest[start]" type="text" data-behaviour='datepicker' value="<%= format_date @contest.start %>">
    </div>
  <% end %>

  <%= form_input form, @contest, :end do %>
    <div class="input-prepend input-append">
      <span class="add-on"><i class="icon-calendar"></i></span>
      <input id="contest_start" name="contest[end]" type="text" data-behaviour='datepicker' value="<%= format_date @contest.end %>">
    </div>
  <% end %>

  <%= form_input form, @contest, :prize do %>
    <div class="input-prepend input-append">
      <span class="add-on">R$</span>
      <%= form.text_field :prize %>
    </div>
  <% end %>

  <%= form_submit form %>
<% end %>
