<%= form_for(@contest, :html => { :class => "form-horizontal" }) do |form| %>
  <%= form_errors_block @contest %>

  <% if new %>
    <%=  form_input(form, @contest, :name) do %>
      <%= form.text_field :name %>
    <% end %>
  <% end %>

  <%= form_input(form, @contest, :description) do %>
    <%= form.text_area :description, :size => "60x4" %>
  <% end %>

  <%= form_input form, @contest, :start do %>
    <%= datepicker_field @contest, :start %>
  <% end %>

  <%= form_input form, @contest, :end do %>
    <%= datepicker_field @contest, :end %>
  <% end %>

  <%= form_input form, @contest, :prize do %>
    <div class="input-prepend input-append">
      <span class="add-on">R$</span>
      <%= form.text_field :prize %>
    </div>
  <% end %>

  <%= form_submit form %>
<% end %>
