<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div class="alert alert-error">
      <strong><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</strong>
      <ul>
        <% @contest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <d1 class="dl-horizontal">
    <% if @contest.errors.include? :name %>
      <dt class="text text-error"><i class="icon-exclamation-sign"></i>
    <% else %>
      <dt>
    <% end %>
    <%= Contest.human_attribute_name :name %></dt>
    <dd><%= f.text_field :name %></dd>

    <% if @contest.errors.include? :description %>
      <dt class="text text-error"><i class="icon-exclamation-sign"></i>
    <% else %>
      <dt>
    <% end %>
    <%= Contest.human_attribute_name :description %></dt>
    <dd><%= f.text_area :description, :size => "60x4" %></dd>

    <% if @contest.errors.include? :start %>
      <dt class="text text-error"><i class="icon-exclamation-sign"></i>
    <% else %>
      <dt>
    <% end %>
    <%= Contest.human_attribute_name :start %></dt>
    <dd><input id="contest_start" name="contest[start]" type="text" data-behaviour='datepicker' value="<%= ApplicationHelper::format_date @contest.start %>"></dd>

    <% if @contest.errors.include? :end %>
      <dt class="text text-error"><i class="icon-exclamation-sign"></i>
    <% else %>
      <dt>
    <% end %>
    <%= Contest.human_attribute_name :end %></dt>
    <dd><input id="contest_end" name="contest[end]" type="text" data-behaviour='datepicker' value="<%= ApplicationHelper::format_date @contest.end %>"></dd>

    <% if @contest.errors.include? :prize %>
      <dt class="text text-error"><i class="icon-exclamation-sign"></i>
    <% else %>
      <dt>
    <% end %>
    <%= Contest.human_attribute_name :prize %></dt>
    <dd>
      <div class="input-prepend input-append">
        <span class="add-on">R$</span>
        <%= f.text_field :prize %>
      </div>
    </dd>

    <dd><%= f.submit :class => "btn btn-primary" %></dd>
  </d1>
<% end %>
