<% if current_user.nil? %>
  <div class="alert alert-error">
    <i class="icon-exclamation-sign"></i>
    <strong>You are not logged in. Please</strong>
    <%= link_to "log in", :login %>
    <strong>or</strong>
    <%= link_to "register", :register %>
    <strong> in order to proceed.</strong>
  </div>
<% end %>
<ul class="breadcrumb well well-small">
  <li class="active">Contests</li>
</ul>
<legend>Contests</legend>
<table class="table table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= Contest.human_attribute_name :status %></th>
      <th><%= Contest.human_attribute_name :name %></th>
      <th><%= Contest.human_attribute_name :start %></th>
      <th><%= Contest.human_attribute_name :end %></th>
      <th><%= Contest.human_attribute_name :prize %></th>
      <th><%= Contest.human_attribute_name :winner %></th>
      <% if current_user.instance_of? Contractor %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
      <tr class="<%= status_class(contest) %>">
        <td><%= status(contest) %></td>
        <td><%= link_to contest.name, contest %></td>
        <td><%= format_date contest.start %></td>
        <td><%= format_date contest.end %></td>
        <td><%= to_money contest.prize %></td>
        <td><a href="#<%= "contest_#{contest.id}_winner" %>" role="button" class="btn btn-primary" data-toggle="modal" <%= contest.winning_proposal.nil? ? "disabled=""true""" : "" %>>Winner</a></td>
        <% if current_user.instance_of? Contractor and contest.contractor == current_user  %>
          <td>
            <div class="btn-group">
              <%= link_to edit_contest_path(contest), :class => "btn btn-primary", :title => "Edit Contest" do %>
                <i class="icon-pencil icon-white"></i>
              <% end %>
              <%= link_to contest, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary", :title => "Delete Contest" do %>
                <i class="icon-trash icon-white"></i>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>

      <% unless contest.winning_proposal.nil? %>
      <div id="<%= "contest_#{contest.id}_winner" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%= "contest_#{contest.id}_winner" %>Label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="<%= "contest_#{contest.id}_winner" %>Label"><%= "Winning proposal of contest #{contest.name}" %></h3>
        </div>
        <div class="modal-body">
          <%= render :partial => 'proposals/show', :locals => { :proposal => contest.winning_proposal } %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <% end  %>
  <% end %>
</tbody>
</table>
<% if current_user.instance_of? Contractor %>
  <%= link_to new_contest_path, :class => "btn btn-primary pull-right", :title => "Create Contest" do %>
    <i class="icon-plus icon-white"></i>
  <% end %>
<% end %>