<h1>Listing contests</h1>

<table>
  <tr>
    <th><%= Contest.human_attribute_name :name %></th>
    <th><%= Contest.human_attribute_name :description %></th>
    <th><%= Contest.human_attribute_name :start %></th>
    <th><%= Contest.human_attribute_name :end %></th>
    <th><%= Contest.human_attribute_name :winner %></th>
    <th><%= Contest.human_attribute_name :contractor %></th>
    <th><%= Contest.human_attribute_name :prize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.name %></td>
    <td><%= contest.description %></td>
    <td><%= contest.start %></td>
    <td><%= contest.end %></td>
    <td><%= contest.winner.username unless contest.winner.nil? %></td>
    <td><%= contest.contractor.username %></td>
    <td><%= contest.prize %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
