<ul class="breadcrumb">
  <li><a href="/">Contests</a> <span class="divider">/</span></li>
  <li class="active"><%= @contest.name %></li>
</ul>
<legend><%= @contest.name %></legend>
<div class="well well-small">
  <d1 class="dl-horizontal">
    <dt><%= Contest.human_attribute_name :description %></dt>
    <dd><%= @contest.description %></dd>

    <dt><%= Contest.human_attribute_name :status %></dt>
    <dd class="text-<%= status_class(@contest) %>"><%= status(@contest) %></dd>

    <dt><%= Contest.human_attribute_name :start %></dt>
    <dd><%= format_date @contest.start %></dd>

    <dt><%= Contest.human_attribute_name :end %></dt>
    <dd><%= format_date @contest.end %></dd>

    <dt><%= Contest.human_attribute_name :contractor %></dt>
    <dd><%= @contest.contractor.username %></dd>

    <dt><%= Contest.human_attribute_name :prize %></dt>
    <dd><%= to_money @contest.prize %></dd>

    <% unless @contest.winner.nil? %>
      <dt><%= Contest.human_attribute_name :winner %></dt>
      <dd><%= @contest.winner.username %></dd>
    <% end %>

    <% if current_user.instance_of? Contractor and @contest.contractor == current_user %>
      <dd>
        <div class="btn-group">
          <%= link_to edit_contest_path(@contest), :class => "btn btn-primary", :title => "Edit Contest" do %>
            <i class="icon-pencil icon-white"></i>
          <% end %>
          <%= link_to @contest, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary", :title => "Delete Contest" do %>
            <i class="icon-trash icon-white"></i>
          <% end %>
        </div>
      </dd>
    <% end %>
  </d1>
</div>
<% unless @contest.winning_proposal.nil? %>
  <legend><%= Contest.human_attribute_name :winning_proposal %></legend>
  <div class="well well-small">
    <%= render :partial => 'proposals/show', :locals => { :proposal => @contest.winning_proposal } %>
  </div>
<% end %>
<legend><%= Contest.human_attribute_name :proposals %></legend>
<% if @contest.is_open? and current_user.instance_of? Designer %>
  <div class="btn-toolbar">
    <%= link_to new_contest_proposal_path(@contest), :class => "btn btn-primary", :title => "Create Proposal" do %>
      <i class="icon-plus icon-white"></i>
    <% end %>
  </div>
<% end %>
<% if @contest.proposals.any? %>
  <% @contest.proposals.each do |proposal| %>
    <% next if proposal == @contest.winning_proposal %>
    <div class="horizontal_separator">
      <%= render :partial => 'proposals/show', :locals => { :proposal => proposal } %>
    </div>
  <% end %>
<% else %>
  <span class="muted">No proposals<%= @contest.is_open? ? " yet" : "" %>.</span>
<% end %>