<p id="notice"><%= notice %></p>

<p>
  <b><%= User.human_attribute_name :username %>:</b>
  <%= @user.username %>
</p>

<p>
  <b><%= User.human_attribute_name :email %>:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= User.human_attribute_name :type %>:</b>
  <%= @user.type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
