<h1>Listing proposals for contest <%= @contest.name %></h1>

<table>
  <tr>
    <th><%= Proposal.human_attribute_name :designer %></th>
    <th><%= Proposal.human_attribute_name :description %></th>
    <th><%= Proposal.human_attribute_name :image %></th>
  </tr>

  <% @proposals.each do |proposal| %>
    <tr>
      <td><%= proposal.designer.username unless proposal.designer.nil? %></td>
      <td><%= proposal.description %></td>
      <td><%= image_tag proposal.image.url %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Proposal', new_proposal_path %>
