<ul class="breadcrumb">
  <li><a href="/">Contests</a> <span class="divider">/</span></li>
  <li><a href="/contests/<%= @contest.id %>"><%= @contest.name %> </a> <span class="divider">/</span></li>
  <li class="active">New proposal</li>
</ul>
<legend>New proposal</legend>
<%= form_for @proposal, :url => { :action => 'create' }, :html => { :multipart => true, :class => "form-horizontal" } do |form| %>
  <%= form_errors_block @proposal %>

  <%= form_input(form, @proposal, :description) do %>
    <%= form.text_area :description, :size => "60x4" %>
  <% end %>

  <%= form_input(form, @proposal, :image) do %>
    <%= form.file_field :image %>
  <% end %>

  <%= form_submit form %>
<% end %>