<h1>Concursos</h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.concurso.nome') %></th>
    <th><%= t('activerecord.attributes.concurso.inicio') %></th>
    <th><%= t('activerecord.attributes.concurso.fim') %></th>
    <th><%= t('activerecord.attributes.concurso.ganhador_id') %></th>
    <th><%= t('activerecord.attributes.concurso.contratante_id') %></th>
    <th><%= t('activerecord.attributes.concurso.premio') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @concursos.each do |concurso| %>
  <tr>
    <td><%= concurso.nome %></td>
    <td><%= concurso.inicio %></td>
    <td><%= concurso.fim %></td>
    <td><%= concurso.ganhador.nome unless concurso.ganhador.nil? %></td>
    <td><%= concurso.contratante.nome unless concurso.ganhador.nil? %></td>
    <td><%= concurso.premio %></td>
    <td><%= link_to 'Exibir', concurso %></td>
    <td><%= link_to 'Editar', edit_concurso_path(concurso) %></td>
    <td><%= link_to 'Deletar', concurso, :method => :delete, :data => { :confirm => 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo concurso', new_concurso_path %>
