<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.concurso.nome') %>:</b>
  <%= @concurso.nome %>
</p>

<p>
  <b><%= t('activerecord.attributes.concurso.inicio') %>:</b>
  <%= @concurso.inicio %>
</p>

<p>
  <b><%= t('activerecord.attributes.concurso.fim') %>:</b>
  <%= @concurso.fim %>
</p>

<p>
  <b><%= t('activerecord.attributes.concurso.ganhador') %>:</b>
  <%= @concurso.ganhador.nome unless @concurso.ganhador.nil? %>
</p>

<p>
  <b><%= t('activerecord.attributes.concurso.contratante') %>:</b>
  <%= @concurso.contratante.nome unless @concurso.contratante.nil? %>
</p>

<p>
  <b><%= t('activerecord.attributes.concurso.premio') %>:</b>
  <%= @concurso.premio %>
</p>


<%= link_to 'Editar', edit_concurso_path(@concurso) %> |
<%= link_to 'Voltar', concursos_path %>
